body{
    margin: 0px;
    box-sizing: border-box;
}

div {
    height: 100px;
    width: 100px;
    border: solid 1px black;
    margin: auto;
}

div h1{
    color: #ff0000;
}

div p{
    font-size: 20px;
    text-transform: uppercase;
}